
$orange-palette: (
    50 : #fdf0e7,
    100 : #fadac2,
    200 : #f7c29a,
    300 : #f3a971,
    400 : #f19652,
    500 : #ee8434,
    600 : #ec7c2f,
    700 : #e97127,
    800 : #e76721,
    900 : #e25415,
    A100 : #ffffff,
    A200 : #ffe8df,
    A400 : #ffc2ac,
    A700 : #ffb092,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$lavender-accent: (
    50 : #f5f1f3,
    100 : #e7dbe0,
    200 : #d7c3cc,
    300 : #c6abb8,
    400 : #ba99a8,
    500 : #ae8799,
    600 : #a77f91,
    700 : #9d7486,
    800 : #946a7c,
    900 : #84576b,
    A100 : #ffedf5,
    A200 : #ffbad7,
    A400 : #ff87ba,
    A700 : #ff6eac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$red-palette: (
    50 : #f9ecec,
    100 : #efced0,
    200 : #e4aeb1,
    300 : #d98e92,
    400 : #d1757a,
    500 : #c95d63,
    600 : #c3555b,
    700 : #bc4b51,
    800 : #b54147,
    900 : #a93035,
    A100 : #ffefef,
    A200 : #ffbcbf,
    A400 : #ff898e,
    A700 : #ff6f75,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



